
@keyframes scroll {
   /* Ajusté pour correspondre à la nouvelle taille */
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-256px * 7));
   }
}
.slider {
    background: transparent;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 33%;
   /* Sélecteur pour toutes les images */
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #181818 0%, rgba(17, 136, 17, 0) 100%);
    content: "";
    height: 300px;
    position: absolute;
    width: 100px;
   /* Ajusté pour correspondre à la largeur du dégradé */
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(256px * 14);
   /* Largeur ajustée pour correspondre au nombre de diapositives */
}
.slider img {
    border-radius: 25px;
   /* Ajustez la valeur pour le rayon de bord arrondi */
}
.slider .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 256px;
   /* Hauteur ajustée pour correspondre à la taille de l'image */
    width: 256px;
   /* Largeur ajustée pour correspondre à la taille de l'image */
    position: relative;
}
.slider .slide img {
    width: 246px;
    height: 246px;
}
.slider .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
   /* Espacement entre l'image et les boutons */
}
.slider .btn {
    height: 32.6px;
    width: 110px;
    margin: 0 5px;
    border: none; /* Supprime les bordures par défaut */
    background-color: transparent; /* Fond transparent pour le bouton */
    cursor: pointer; /* Change le curseur au survol */
    padding: 0; /* Supprime le padding interne du bouton */
   /* Espacement entre les boutons */
}
.slider .btn img {
    width: 100%; /* Assure que l'image s'adapte à la taille du bouton */
    height: 100%; /* Assure que l'image s'adapte à la taille du bouton */
    display: block; /* Évite les espaces blancs autour de l'image */
    border-radius: 0px; /* Arrondit les coins de l'image */
}

/* Styles spécifiques pour les écrans plus petits */
@media (max-width: 959px) {
    .slider {
        width: 90%; /* Ajuste la largeur à 90% de la vue pour les petits écrans */
    }
    .slider::before, .slider::after {
        width: 10px;
        
    }
}

@media (min-width: 960px) {
    .slider {
        width: 860px; /* Largeur fixe pour les écrans plus larges */
    }
    .slider::before, .slider::after {
        width: 100px;
    }
}

